header, nav, main, footer {
    max-width: 75rem;
    margin: auto;
}

.hero div {
    font-size: 2.5rem;
    padding-left: 4rem;
}


// create for loop
@for $i from 1 through 12 {
    $w: calc($i / 12) *100%;
    .large-#{$i} {flex-basis: $w;}
}

.card {margin: 1rem 0;}